[Desktop Entry]
Encoding=UTF-8
Name=MathPlanner
Name[pl]=MathPlanner
Comment=MathPlanner
Comment[pl]=MathPlanner
Icon=mathplannerapp.png
Exec=MathPlanner3
Terminal=false
Type=Application
MimeType=application/mpl2
Categoris=Science;Math;
# vi: encoding=utf-8
